@import 'partials/reset';
@import 'partials/variables';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/grid';
@import 'partials/forms';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/counter';
@import 'partials/super';
@import 'partials/work';
@import 'partials/sections';
@import 'partials/services';
@import 'partials/contact';
@import 'partials/animate';
@import 'partials/credits';

ul {
	margin: 0;
	padding: 0;
}

.post-previews {
	grid-column: auto / span 8;
	grid-row: 2;
	order: 1;
	@media all and (max-width: 1000px) {
		grid-column: auto / span 12;
	}
	&__post {
		border-bottom: 2px solid $blue;
		padding: 2vh;
		display: block;
	}
	&__title {
		color: white;
		font-size: 1.5rem;
	}
}

.categories {
	padding: 1em 0;
}

.cat {
	padding: 10px;
	display: inline-block;
	margin-right: 10px;
	&--video {
		background: $yellow;
	}
	&--tutorial {
		background: $green;
	}
	&--article {
		background: $blue;
	}
	&--announcement {
		background: $pink;
	}
}