extends email-layout

block content
	h1 Hi #{user.name},
	p Here is your temporary password: #{tempPassword}
	p Log into your account to update your password.
	+button(loginURL, 'Account Login')
	p Once logged in, select update password from the sidebar.
	br
	p Thanks,
	p The Customer Success Team
