extends email-layout

block content
	h1 Hello #{user.name},
	p Thanks for signing up for the #{productName} Support Plan. We’re thrilled to have you on board.
	p Keep an eye out from an email that will arrive shortly from our team to gather all the necessary information needed to start supporting your site.
	p If you have any questions, feel free to email our customer success team. (We're lightning quick at replying.) We look forward to working with you!
	+button(`${siteURL}/contact/`, 'Contact customer success team')
	br
	p Thanks,
	p Patrick &amp; The Customer Success Team