extends layout.pug

block content

	section.super.super--dark-blue.section
				div.super__inner
					h2.super__title.super__title--white
						|About.
					div.super__content
						p You put your heart and soul into your business, your website should reflect that.
						a(href="#contact").button.button--text-white.button__outline.button__outline--blue Questions?

	section.section
		h2 There is no "I" in team, but there is a "Me"
		p You could say the team is like family.

	section.section.team
		.team-member


