extends layout.pug

block content

	section.super.super--dark-blue.section
				div.super__inner
					h1.super__title.super__title--white
						|About Me
					div.super__content
						p.super__text You put your heart and soul into your business, your website should reflect that.
						a(href="#contact").button.button--text-white.button__outline.button__outline--blue Questions?

	section.section
		.team-grid
			.team-member
				h3 Patrick Koulalis
				h4 CEO / OWNER / DEVELOPER / DESIGNER / JANITOR


	section.section.team
		.team-member


