extends layout.pug
include mixins/_contactForm
block hero
	div.hero
		.hero__inner
			h1.hero__title Contact Us
			h2.hero__text We craft the web one awesome website at a time.
block content
	section.super.super--white
		div.super__inner
			h2.super__title
				| Let's Talk
			div.super__content
				p Want to get in touch? Great, we would love to hear from you! Fill out the form below and we will get back to you very soon!

	//- .section.max-width-wrapper
	//- 	.grid-row
	//- 		.col__span7
	//- 			h2 Let's Talk
	//- 			p Want to get in touch? Great, we would love to hear from you! Fill out the form below and we will get back to you very soon!
	//- 			div.grid
	//- 				+contactForm()
	//- 		aside.col__span5
	//- 			h2 Stalk Us
	//- 			p Call Us: <a href="">508-367-1837</a>
	//- 			p Email: <a href="">hello@patrickkoulalis.com</a>
	//- 			p Call Us: 508-367-1837
	//- 			img(src="https://picsum.photos/800/400", alt="")
	//- 			img(src="https://picsum.photos/800/401", alt="")
	//- 			img(src="https://picsum.photos/800/402", alt="")

	.section.contact
		div.max-width-wrapper
			+contactForm()