extends layout.pug
include mixins/_contactForm
block masthead
	div.masthead
		.masthead__inner
			h1.masthead__title Contact Us
			h2.masthead__text We craft the web one awesome website at a time.
		div.masthead__cta
			span Let's Get Started

block content
	section.super.super--white
		div.super__inner
			h1.super__title
				| Contact Us
			div.super__content
				p Want to get in touch? Great, we would love to hear from you! Let's talk about how we can help your business grow. Fill out the form bellow and we will get back to you within 24 Hours
	.section.contact
		div.grid
			+contactForm()