extends layout
include mixins/_estimateForm
block masthead
	div.masthead
		.masthead__inner
			h1.masthead__title Estimates
			h2.masthead__text Get started with your free project estimate.
		div.masthead__cta
			span Let's Get Started
block content
	.section
		+estimateForm()