extends layout
include mixins/_estimateForm
block hero
	div.hero
		.hero__inner
			h1.hero__title Estimates
			h2.hero__text Get started with your free project estimate.
block content
	.section.max-width-wrapper
		aside.sidebar.sidebar__left
			h2 Stalk Us
			p Call Us: <a href="">508-367-1837</a>
			p Email: <a href="">hello@patrickkoulalis.com</a>
			p Call Us: 508-367-1837
		.main-content
			+estimateForm()