extends layout
include mixins/_estimateForm
block hero
	div.hero
		.hero__inner
			h1.hero__title Estimates
			h2.hero__text Get started with your free project estimate.
block content
	.section.max-width-wrapper
		+estimateForm()