doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		if(process.env.NODE_ENV == 'production')
			script(async src="https://www.googletagmanager.com/gtag/js?id=UA-53026829-1")
			script
				include ../public/javascript/gtag.js
			script
				include ../public/javascript/heap.js
		else
			script
				include ../public/javascript/heap-dev.js
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		link( rel="canonical" href="http://patrickkoulalis.com/" + canonical)
		title= pageTitle
		link(rel="stylesheet" href="/dist/styles.css")
		link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon16x16.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon96x96.png")
		meta(name="description" content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(name="keywords" content="Boston Web Design, Boston Web Design Company, Web Design, Website Design, Webdesign, Web Development, Internet Marketing, Social Media, WordPress Websites, Custom Websites, Custom Web Design, Web Designer, Web Design Company, Boston Web Development, Boston Web Development Company, Boston Print Design, Boston Graphic Design, Ecommerce Website Design, Metrowest Web Design, Natick Web Design")
		meta(name="robots"                content="index, follow")
		meta(name="author"                content="Patrick Koulalis Web Developer")
		meta(name="twitter:card"          content="summary")
		meta(name="twitter:site"          content="@patrickkoulalis")
		meta(name="twitter:creator"       content="@patrickkoulalis")
		meta(name="twitter:url"           content="https://patrickkoulalis.com/")
		meta(name="twitter:title"         content="Patrick Koulalis - Boston Web Design & Development")
		meta(name="twitter:description"   content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(name="twitter:image"         content="https://patrickkoulalis.com/images/preview.jpg")
		meta(property="og:site_name"      content="Patrick Koulalis - Boston Web Design & Development")
		meta(property="og:locale"         content="en_US")
		meta(property="og:type"           content="website")
		meta(property="og:url"            content="https://patrickkoulalis.com/")
		meta(property="og:title"          content="Patrick Koulalis - Boston Web Design & Development")
		meta(property="og:description"    content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(property="og:image"          content="https://patrickkoulalis.com/images/preview.jpg")
		meta(property="article:author"    content="")

	body
		block header
			div.site-wrap
				header(class="top" role="banner" aria-label="Header")
					nav(class="nav" role="navigation")
						a(class="logo-wrap" href="/")
							img(class="logo" src="/images/logo.svg" alt="Patrick Koulalis Logo")
						div.nav-button
							span.nav-button__label Menu
							span.nav-button__bar
							span.nav-button__bar
							span.nav-button__bar
						.nav__menu
							//- span.the-menu The Menu
							a(href="/" class="nav__menu-link") Home
							//- a(href="/services/" class="nav__menu-link") Services
							a(href="/work/" class="nav__menu-link") Work
							//- a(href="/about/" class="nav__menu-link") About Us
							a(href="/contact/" class="nav__menu-link nav__menu-link--contact") Contact
				block masthead

			block content

			block footer
		//-site-wrap
		block scripts
			script( src="/dist/main.bundle.js")
			<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"72387008e8dc6722817805a33","lid":"521c973fb6"}) })</script>