extends layout.pug

block hero
	div.hero
		.hero__inner
			h1.hero__title SEO &amp; Digital Marketing
			div.hero__cta.button-group
				a(href="/estimates/").button.button--green Get your FREE Estimate

block content

	.overview-callout
		.overview-callout__inner
			div.overview-callout__content
				h2.overview-callout__title Better Rankings, Traffic &amp; Website Leads
				p The internet use to be a fad, an alternative to television and your morning paper. Today it is an essential tool for deciding which products to buy and which services to use.
				p As technologies evolve so should your business. Stay relevant and continue to attract customers with comprehensive internet marketing campaigns. Your business can't afford not to.

			div.overview-callout__image
				img(src="/images/screens.svg" alt="Web Design")

	.section
		.overview.overview--gray
			.overview__inner
				div.overview__content
					h2.overview__title Search Engine Optimization (SEO)
					p SEO can be a complicated, scary and it is getting more technical everyday. Keeping up with all the best practices and guidelines can start to feel like brain surgery. Properly executed, SEO can be one of your most powerful tools in your marketing tool box. Appearing on first page of Google is like winning the lottery for your business. With 5.5+ billion searches every day, there is no shortage of new customers.
					a(href="/contact/").button.button--blue Let's Get Started
				div.overview__image
					img(src="/images/analyst-analytics-640.jpg" alt="Search Engine Optimization (SEO)")


		.overview.overview--blue
			.overview__inner
				div.overview__image
					img(src="/images/local-seo-640.jpg" alt="Local SEO")
				div.overview__content
					h2.overview__title Local SEO
					p Over 85% of consumers search for local businesses online. If your business isn't listed, you’re losing business to your competitors who are.  Outrank your competitors and get found when it counts!
					a(href="/contact/").button.button--white Let's Get Started

		.overview.overview--gray
			.overview__inner
				div.overview__content
					h2.overview__title Pay Per Click (PPC) Advertising
					p Pay-Per-Click (PPC) advertising is a powerful internet marketing tool. It drives high quality leads and targeted traffic to your website using paid ads. When done correctly it can make gaining new customers seem effortless.
					a(href="/contact/").button.button--blue Let's Get Started
				div.overview__image
					img(src="/images/coffee-composition-computer-640.jpg" alt="Pay Per Click (PPC) Advertising")


	section.super.super--blue
		div.super__inner
			h2.super__title.super__title--white
				| Any Questions?
			div.super__content
				p We’re here to help! Call us at #[a(href="tel:508-367-1837") 508-367-1837] for a Free Consultation.
				a(href="/contact/").button.button--green Contact Us