extends layout.pug

block content

	section.super.super--pink.section
				div.super__inner
					h2.super__title.super__title--white
						|Services.
					div.super__content
						p You put your heart and soul into your business, your website should reflect that.
						a(href="#contact").button.button--text-white.button__outline.button__outline--blue Questions?

	section.super.super--dark-blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Strategy
					div.super__content
	section.section.services-section.services-section--web-design
			div.services__grid
				div.service-card
					h3.service-card__title Strategy
					ul.service-card__list
						li Startup Consulting
						li Information Architecture
						li User Experience
						li Wireframes
						li Brand Strategy
					a.service-card__button(href="/services/strategy/") Get Started
				div.service-card
					h3.service-card__title Web Design
					ul.service-card__list
						li Design and Development
						li Landing Pages
						li Microsites
						li Mobile Web Design
						li CMS Integration
						li Logo Design &amp; Branding
						li Email Templates
					a.service-card__button(href="/services/web-design/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started

	section.super.super--dark-blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Web Design
					div.super__content
	section.section.services-section.services-section--web-design
			div.services__grid
				div.service-card
					h3.service-card__title Strategy
					ul.service-card__list
						li Startup Consulting
						li Information Architecture
						li User Experience
						li Wireframes
						li Brand Strategy
					a.service-card__button(href="/services/strategy/") Get Started
				div.service-card
					h3.service-card__title Web Design
					ul.service-card__list
						li Design and Development
						li Landing Pages
						li Microsites
						li Mobile Web Design
						li CMS Integration
						li Logo Design &amp; Branding
						li Email Templates
					a.service-card__button(href="/services/web-design/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started
	section.super.super--blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Web Development
					div.super__content

	section.section.services-section.services-section--web-design
			div.services__grid
				div.service-card
					h3.service-card__title Strategy
					ul.service-card__list
						li Startup Consulting
						li Information Architecture
						li User Experience
						li Wireframes
						li Brand Strategy
					a.service-card__button(href="/services/strategy/") Get Started
				div.service-card
					h3.service-card__title Web Design
					ul.service-card__list
						li Design and Development
						li Landing Pages
						li Microsites
						li Mobile Web Design
						li CMS Integration
						li Logo Design &amp; Branding
						li Email Templates
					a.service-card__button(href="/services/web-design/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started
