extends layout.pug

block content

	section.super.super--pink.section
				div.super__inner
					h2.super__title.super__title--white
						|Our Services
					div.super__content
						p.super__text You put your heart and soul into your business, your website should reflect that.
						a(href="#contact").button.button--text-white.button__outline.button__outline--blue Questions?

	section.super.super--dark-blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Strategy
					div.super__content
	section.section.services-section.services-section--web-design
				div.service-card
					<svg class="service-card__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/></svg>
					h3.service-card__title Web Development
					ul.service-card__list
						li Website Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.button.button__solid.button__solid--blue(href="/contact/") Start your project today!

				div.service-card
					<svg class="service-card__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/></svg>
					h3.service-card__title Web Development
					ul.service-card__list
						li Website Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.button.button__solid.button__solid--blue(href="/contact/") Start your project today!


	section.super.super--dark-blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Web Design
					div.super__content
	section.section.services-section.services-section--web-design
			div.services__grid
				div.service-card
					h3.service-card__title Strategy
					ul.service-card__list
						li Startup Consulting
						li Information Architecture
						li User Experience
						li Wireframes
						li Brand Strategy
					a.service-card__button(href="/services/strategy/") Get Started
				div.service-card
					h3.service-card__title Web Design
					ul.service-card__list
						li Design and Development
						li Landing Pages
						li Microsites
						li Mobile Web Design
						li CMS Integration
						li Logo Design &amp; Branding
						li Email Templates
					a.service-card__button(href="/services/web-design/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started
	section.super.super--blue.section
				div.super__inner
					h2.super__title.super__title--white
						|Web Development
					div.super__content

	section.section.services-section.services-section--web-design
			div.services__grid
				div.service-card
					h3.service-card__title Strategy
					ul.service-card__list
						li Startup Consulting
						li Information Architecture
						li User Experience
						li Wireframes
						li Brand Strategy
					a.service-card__button(href="/services/strategy/") Get Started
				div.service-card
					h3.service-card__title Web Design
					ul.service-card__list
						li Design and Development
						li Landing Pages
						li Microsites
						li Mobile Web Design
						li CMS Integration
						li Logo Design &amp; Branding
						li Email Templates
					a.service-card__button(href="/services/web-design/") Get Started
				div.service-card
					h3.service-card__title Development
					ul.service-card__list
						li Website Development
						li Mobile Development
						li eCommerce Websites
						li Content Management System
						li CMS and e-Commerce Integration
						li Installation &amp; Setup
						li Website Maintenance
					a.service-card__button(href="/services/web-development/") Get Started
