extends layout.pug

block masthead
	div.masthead
		.masthead__inner
			h1.masthead__title Solutions
			h2.masthead__text Find a solution that works best for your business.
			div.masthead__cta.button-group
				a(href="/estimates/").button.button--green Get your FREE Estimate

block content
	//- section.super
	//- 	div.super__inner
	//- 		h2.super__title
	//- 			| Solutions for every kind of budget
	//- 		div.super__content
	//- 			p When something goes wrong you can sleep soundly knowing that you're covered when you sign up with one of our support plans.

	.overview
		.overview__inner.max-width-wrapper
			div.overview__image
				img(src="/images/close-up-design-wireframe-640.jpg" alt="Web Design")
			div.overview__content
				h2.overview__title Custom Web Design
				p When you choose to have a custom site developed you have complete control of how your site will look and function. From the first phone call with us to the day your site is launched you will feel like part of our team.
				a(href="/estimates/").button.button--blue Let's Get Started

	.overview.overview--gray
		.overview__inner.max-width-wrapper
			div.overview__content
				h2.overview__title Maintenance Plans
				p Sh*t happens don't wait till it's to late. Our maintenance plans offer a variety of benefits such a Daily Site Backups, Sucuri Security Checks, Uptime Monitoring, Site Maintenance, Performance Audits, and Website Reports. When something does go wrong you can sleep soundly knowing that you're covered.
				a(href="/maintenance-plans/").button.button--blue Explore Maintenance plans
			div.overview__image
				img(src="/images/support-plans-640.jpg"  alt="Maintenance Plans")

	.overview
		.overview__inner.max-width-wrapper
			div.overview__image
				img(src="/images/website-packages-640.jpg" alt="Web Development Packages")
			div.overview__content
				h2.overview__title Website Packages
				p Website Packages are great for small businesses and startups looking for a quick and cost effective solution with professional results. We help you choose a design that we will then customize for you to make it unique and to reach all of your goals.
				a(href="/website-packages/").button.button--blue Explore Website packages

	//- section.super.super--blue
	//- 	div.super__inner
	//- 		h2.super__title.super__title--white
	//- 			| Looking for more of a custom solution?
	//- 		div.super__content
	//- 			a(href="/estimates/").button.button--green Get your FREE estimate


	section.super.super--blue
		div.super__inner
			h2.super__title.super__title--white
				| On a super tight budget?
			div.super__content
				p Let us show you what options can work best for you without breaking the bank.
				a(href="/contact/").button.button--green Contact us today!