extends layout.pug

block masthead
	div.masthead
		.masthead__inner
			span.masthead__title Solutions
			span.masthead__text This is where stripe shall be tested!
block content
	section.super.super--white.section
		div.super__inner
			h2.super__title
				|There is no substitute for hard work
			div.super__content
				p.super__text Below is a small selection from some of my most recent projects.
				a(href="/work/").button.button--pink See More Work
	section.seciton
		.section__inner.services
			div.service-card
				<span class="service-card__price">$40/hr</span>
				span.service-card__title Design
				ul.service-card__list
					li Website Design
					li Landing Pages
					li Microsites
					li Mobile App Design
					li Logo Design &amp; Branding
					li Email Templates
				a.button.button--green(href="/contact/") Start your project today!
			div.service-card.service-card--gray
				<span class="service-card__price">$2500</span>
				span.service-card__title Development
				ul.service-card__list
					li Website Development
					li eCommerce Websites
					li Content Management System
					li CMS and e-Commerce Integration
				a.button.button--green(href="/contact/") Start your project today!
			div.service-card
				<span class="service-card__price">$200/mo</span>
				span.service-card__title Support
				ul.service-card__list
					li Installation &amp; Setup
					li Website Maintenance
					li Emergency Help(Sh*t happens)
				a.button.button--green(href="/contact/") Start your project today!
	.section
		.section__inner
			.overview
				div.overview__image
					div.service-card.service-card--help
						<span class="service-card__price">$200/mo</span>
						span.service-card__title Support
						ul.service-card__list
							li Installation &amp; Setup
							li Website Maintenance
							li Emergency Help(Sh*t happens)
						a.button.button--green(href="/contact/") Start your project today!
				div.overview__content
					h2.overview__title Sh*t Happens - Emergency Help
					p Templates, who needs them am I right? Doloremque, nostrum beatae? Earum tempore facere voluptas rem quasi iusto doloribus cumque temporibus, autem assumenda laboriosam odio aspernatur perferendis placeat corporis nobis aliquid dignissimos. Unde, reiciendis culpa.
					a(href="/support-plans") Need Support? Check out our plans here.