extends layout.pug

block masthead
  div.masthead.masthead--web-design
    .masthead__inner
      h1.masthead__title Web Development
      p.masthead__text Web Development the way it's supposed to be.
    if(page !== 'contact')
      //- a(class="button button__solid__green" href="/contact") Lets Work Together!
    a(href="#").masthead__cta
      span Let's Get Started