extends layout.pug

block content
	section.super.super--blue.section
				div.super__inner
					h2.super__title.super__title--white
						|There is no substitute for hard work.
					div.super__content
						p If you like what you see contact me to talk about your next project.
						a(href="/contact/").button.button--text-white.button__outline.button__outline--pink Contact Me

	section.section
		.grid
			.work
				img(src="/images/site-mockups/kenosis-foundation.jpg", alt="Image of work")
				.work__inner
					h3.work__title Kenosis Foundation
					div.work__role Design &amp; Development
					a(href="https://kenosisfoundationindia.org/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/visiblemsp.png", alt="Image of work")
				.work__inner
					h3.work__title Visible LLC
					div.work__role Design &amp; Development
					a(href="http://visiblemsp.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/mazza_smith_home.png", alt="Image of work")
				.work__inner
					h3.work__title Mazza-Smith Dance
					div.work__role Design &amp; Development
					a(href="https://www.mazzasmithdance.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/003_sweetgrassplasticsurgery.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title Sweetgrass Plastic Surgery
					div.work__role Development
					a(href="https://www.sweetgrassplasticsurgery.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/004_jnrdesignsinc.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title JNR Designs
					div.work__role Development
					a(href="http://jnrdesignsinc.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/006_youngerimagehairtransplant.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title Younger Image Hair Transplant
					div.work__role Development
					a(href="https://www.youngerimagehairtransplant.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/007_ioiostudio.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title IOIO Studio
					div.work__role Development
					a(href="https://www.ioiostudio.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/008_PCS_Atlanta.png", alt="Image of work")
				.work__inner
					h3.work__title Plastic Surgery Centre of Atlanta
					div.work__role Development
					a(href="https://www.pscatlanta.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/012_bounds_plastic_surgery.png", alt="Image of work")
				.work__inner
					h3.work__title Bounds Plastic Surgery
					div.work__role Development
					a(href="https://www.boundsplasticsurgery.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/015_Leverett.png", alt="Image of work")
				.work__inner
					h3.work__title Body By Leverett
					div.work__role Development
					a(href="https://www.leverettmd.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/016_stir-communications.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title STiR Communications
					div.work__role Development
					a(href="http://www.stir-communications.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/018_BanksPS_Home.png", alt="Image of work")
				.work__inner
					h3.work__title Beaux Arts Institute of Plastic Surgery
					div.work__role Development
					a(href="https://www.drbanksplasticsurgery.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/019_Lavine_WebHome_v1.png", alt="Image of work")
				.work__inner
					h3.work__title Center for Cosmetic &amp; Reconstructive Surgery
					div.work__role Development
					a(href="https://www.drlavine.com").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/025_carolinaagemanagement.com_home.png", alt="Image of work")
				.work__inner
					h3.work__title Carolina Age Management Institute
					div.work__role Development
					a(href="https://www.carolinaagemanagement.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/026_Sfoms_WebHome_3.png", alt="Image of work")
				.work__inner
					h3.work__title South Florida Oral and Maxillofacial Surgery
					div.work__role Development
					a(href="https://www.sfoms.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/027_facialPlasticMD_WebHome_v6.png", alt="Image of work")
				.work__inner
					h3.work__title Theda C. Kontis, M.D.
					div.work__role Development
					a(href="https://www.facialplasticsurgerymd.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/029_BVFL_website-Home-Final.png", alt="Image of work")
				.work__inner
					h3.work__title Best Vision For Life
					div.work__role Development
					a(href="https://www.bestvisionforlife.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/030_Drzamora_website_Final.png", alt="Image of work")
				.work__inner
					h3.work__title Dr. Zamora
					div.work__role Development
					a(href="https://www.drszamora.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/034_Decorato.png", alt="Image of work")
				.work__inner
					h3.work__title Dr. Decorato
					div.work__role Development
					a(href="https://www.drdecorato.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/035_DrZainali_Website_Final_homepage.png", alt="Image of work")
				.work__inner
					h3.work__title Dr. Zainali
					div.work__role Development
					a(href="http://www.drzainali.com/").button.button__outline.button__outline--pink Visit Site
			.work
				img(src="/images/site-mockups/038_Weston_Website_redesign.png", alt="Image of work")
				.work__inner
					h3.work__title Weston Center for Plastic Surgery
					div.work__role Development
					div.work__tags
						span.work_tag
					a(href="https://www.plasticsurgeryweston.com/").button.button__outline.button__outline--pink Visit Site