mixin contactForm()
	form(class="contact-form" action="/contact" method="POST" role="form")
		div.contact-form__section
			h3.contact-form__section-title The Basics
			.form-group
				div.form-element
					label(for="contactName")
						input(id="contactName" type="text" name="contactName" placeholder="Your Name" required)
				div.form-element
					label(for="contactEmail")
						input(id="contactEmail" type="email" name="contactEmail" placeholder="Your Email" required)
				div.form-element
					label(for="contactMsg")
						textarea(id="contactMsg" name="contactMsg", cols="30", rows="10" placeholder="Type Your Message" required)
		div.contact-form__section
			h3.contact-form__section-title Optional Stuff
			.form-group
				div.form-element
					label(for="contactBudget")
						select(id="contactBudget" type="text" name="contactBudget")
							option(disabled selected) Rough budget estimate
							option Less than $1000
							option $1000 - $5000
							option $5000 - $15,000
							option $15,000 - $25,000
							option $25,000+
				div.form-element
					label(for="contactCompanyName")
						input(id="contactCompanyName" type="text" name="contactCompanyName" placeholder="Company Name")
				div.form-element
					label(for="contactWebsiteUrl")
						input(id="contactWebsiteUrl" type="text" name="contactWebsiteUrl" placeholder="Website URL")
				div.form-element
					label(for="contactPhoneNumber")
						input(id="contactPhoneNumber" type="phone" name="contactPhoneNumber" placeholder="Phone Number")
			button.button.contact-form__send Ready. Set. Send!