mixin forgotForm()
	form(action="/account/forgot" method="POST" class="skinny-form")
		.form-header
			h3.form-header__title Forgot Your Password
		.form-inner
			.form-group
				.form-element
					label
						input(type="email" name='email' placeholder='Email Address')
			button.button.button--green(type="submit") Send Password Reset ›