mixin resetPasswordForm()
	form(method="POST" class="skinny-form")
		.form-header
			h3.form-header__title Reset your password
		.form-inner
			.form-group
				.form-element
					label
						input(type="password" name='password' placeholder='Password' required)
				.form-element
					label
						input(type="password" name='confirmPassword' placeholder='Confirm Password' required)
			div(style="text-align: center;")
				a(href="/account/forgot/") Forgot Password?
				p Don’t have an account yet? #[a(href="/account/signup/") Sign up]
			button.button.button--green(type="submit") Login ›