mixin resetPasswordForm()
	form(method="POST" class="skinny-form")
		.form-header
			h3.form-header__title Reset your password
		.form-inner
			.form-group
				.form-element
					label
						input(type="password" name='password' placeholder='Password' required)
				.form-element
					label
						input(type="password" name='confirmPassword' placeholder='Confirm Password' required)
			button.button.button--green(type="submit") Reset Password ›