mixin topNavHome()
	nav(class="nav nav--home")
		a(class="logo-wrap" href="/")
			img(class="logo" src="/images/logo-white.svg" alt="Blue Logo")
			//- span.logo__text.logo__text--white Kouwala
		div.nav-button.nav-button--home
			span.nav-button__label Menu
			span.nav-button__bar
			span.nav-button__bar
			span.nav-button__bar
		.nav__menu
			li.nav__menu-item
				a(href="/" class="nav__menu-link nav__menu-link--white") Home
			//- li.nav__menu-item
				a(href="/services/" class="nav__menu-link nav__menu-link--white") Services
			li.nav__menu-item
				a(href="/work/" class="nav__menu-link nav__menu-link--white") Work
			//- li.nav__menu-item
				a(href="/about/" class="nav__menu-link nav__menu-link--white") About
			li.nav__menu-item
				a(href="/solutions/" class="nav__menu-link nav__menu-link--white") Solutions
				.nav__dropdown
					a(href="/web-design-development/" class="nav__menu-link") Web Design &amp; Development
					a(href="/seo-digital-marketing/" class="nav__menu-link") SEO &amp; Digital Marketing
					a(href="/maintenance-plans/" class="nav__menu-link") Website Maintenance
					a(href="/contact/" class="nav__menu-link") Emergency Support
			//- li.nav__menu-item
				a(href="/blog/" class="nav__menu-link nav__menu-link--white") Blog
			li.nav__menu-item
				a(href="/estimates/" class="nav__menu-link nav__menu-link--white") Estimates
			li.nav__menu-item.nav__menu-item--contact
				a(href="/contact/" class="nav__menu-link nav__menu-link--white") Contact
			li.nav__menu-item.nav__menu-item--account
				a(href="/account/" class="nav__menu-link nav__menu-link--white") Account