mixin topNav()
	nav(class="nav top-nav--home")
		a(class="logo-wrap" href="/")
			img(class="logo" src="/images/logo.svg" alt="Logo")
			//- span.logo__text Kouwala
		div.nav-button
			span.nav-button__label Menu
			span.nav-button__bar
			span.nav-button__bar
			span.nav-button__bar
		.nav__menu
			li.nav__menu-item
				a(href="/" class="nav__menu-link") Home
			//- li.nav__menu-item
				a(href="/services/" class="nav__menu-link") Services
			li.nav__menu-item
				a(href="/work/" class="nav__menu-link") Work
			//- li.nav__menu-item
				a(href="/about/" class="nav__menu-link") About
			li.nav__menu-item
				a(href="/solutions/" class="nav__menu-link") Solutions
				.nav__dropdown
					a(href="/web-design-development/" class="nav__menu-link") Web Design &amp; Development
					a(href="/seo-digital-marketing/" class="nav__menu-link") SEO &amp; Digital Marketing
					a(href="/maintenance-plans/" class="nav__menu-link") Website Maintenance
					a(href="/contact/" class="nav__menu-link") Emergency Support
			//- li.nav__menu-item
				a(href="/blog/" class="nav__menu-link") Blog
			li.nav__menu-item
				a(href="/estimates/" class="nav__menu-link") Estimates
			li.nav__menu-item.nav__menu-item--contact
				a(href="/contact/" class="nav__menu-link") Contact
			li.nav__menu-item.nav__menu-item--account
				a(href="/account/" class="nav__menu-link") Account