a.button {
	display: inline-block;
	text-decoration: none;
}

.button {
	padding: 15px;
	border-radius: 5px;
	min-width: 150px;
	text-align: center;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: transform .2s;
	&__solid {
		color: #fff;
		&--blue {
			background: $blue;
		}
		&--green {
			background: $green;
		}
		&--pink {
			background: $pink;
		}
	}
	&__outline {
		background: transparent;
		color: #555;
		&--pink {
			border: solid 5px $pink;
		}
		&--blue {
			border: solid 5px $blue;
		}
	}
	&--text-white {
		color: white;
	}
	&:hover {
		transform: scale(1.1);
	}
}