.button-group {
	display: block;
	padding: 15px 0;
	&--center {
		text-align: center;
	}
}


.button {
	display: inline-block;
	padding: 1rem 1.5rem;
	border-radius: 3px;
	color: #484848;
	// height: 45px;
	// line-height: 45px;
	text-align: center;
	font-size: 1rem;
	border: none;
	background: $lightGray;
	cursor: pointer;
	text-decoration: none;
	transition: transform .2s;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	&--blue {
		background: $blue;
		color: white;
	}
	&--green {
		background: $green;
		color: white;
	}
	&--pink {
		background: $pink;
		color: white;
	}
	&--red {
		background: $red;
		color: white;
	}
	&--white{
		background: white;
	}
	&:hover {
		transform: scale(1.1);
	}
}

.questions {
	text-align: center;
	padding: 10px 0;
	display: block;
}