a.button {
	display: inline-block;
	text-decoration: none;
}

.button {
	padding: 0 15px;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: transform .2s;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	color: white;
	&--blue {
		background: $blue;
	}
	&--green {
		background: $green;
	}
	&--pink {
		background: $pink;
	}
	&--red {
		background: red;
	}
	&:hover {
		transform: scale(1.1);
	}
}

.button-group {
	display: block;
	text-align: center;
}