.StripeElement {
  background-color: white;
  height: 40px;
	padding: 10px 12px;
	// margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid whitesmoke;
	box-shadow: 0 1px 3px 0 rgba(212, 212, 212, 0.5);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
	text-align: center;
	color: $red;
	font-weight: bold;
}
