.contact {
	background:
		linear-gradient(rgba(red($blue), green($blue), blue($blue), .75), rgba(red($blue), green($blue), blue($blue), .95)),
		url("../images/contact-1280.jpg");
	background-size: cover;
	background-attachment: fixed;
	&__title {
		color: white;
		text-align: center;
	}
	&__text {
		color: white;
		text-align: center;
	}
}


.contact-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	grid-column: auto / span 12;
	grid-row: 2 / span 3;
	padding: 0 0 40px 0;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(245, 245, 245, 0.15);
	position: relative;
	&__send {
		cursor: pointer;
		display: flex;
		align-items: center;
		background: $green;
		border: none;
		font-size: 1rem;
		color: #fff;
		padding: 0 10px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
		&:after {
			content: "";
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid $blue;
			width: 0;
			height: 0;
			margin-left: 1vw;
			display: block;
		}
		&:hover {
			transform: scale(1.1) translateX(-50%);
		}
	}
}

.contact-form__section {
	flex: 1 1 50%;
	padding: 0 2vw 2vw;
	&:nth-of-type(1) {
		border-right: 1px solid rgba(245, 245, 245, 0.15);
	}
	@media all and (max-width: 768px) {
		flex: 1 1 100%;
		&:nth-of-type(1) {
			border-right: none;
		}
	}
}

.contact-form__section-title {
	color: #FFFFFF;
	margin-bottom: 2vh;
	font-size: 1.5rem;
}