.contact {
	// background:
	// 	linear-gradient(rgba(red($blue), green($blue), blue($blue), .95), rgba(red($blue), green($blue), blue($blue), .95)),
	// 	url("../images/sunglasses-cat.jpg");
	// background-size: cover;
	// background-attachment: fixed;
}


.contact-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	grid-column: auto / span 12;
	grid-row: 2 / span 3;
	background: $blue;
	padding: 0;
	&--dark {
		background: $blue;
	}
	&__send {
		cursor: pointer;
		display: flex;
		align-items: center;
		background: $green;
		border: none;
		font-size: 1rem;
		color: #fff;
		padding: 0 10px;
		&:after {
			content: "";
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid $blue;
			width: 0;
			height: 0;
			margin-left: 1vw;
			display: block;
		}
	}
}

.contact-form__section {
	flex: 1 1 50%;
	padding: 0 2vw 2vw;
	&:nth-of-type(1) {
		border-right: 1px solid rgba(245, 245, 245, 0.15);
	}
	@media all and (max-width: 768px) {
		flex: 1 1 100%;
		&:nth-of-type(1) {
			border-right: none;
		}
	}
}

.contact-form__section-title {
	color: #FFFFFF;
	margin-bottom: 2vh;
	font-size: 1.5rem;
}