label {
	display: none;
}
select, input, textarea {
	padding: 1rem;
	width: 100%;
	display: block;
	outline: none;

	font-size: 1rem;
	color: #555;
	border: none;
	border-radius: 2px;
	margin-bottom: 10px;
	&::placeholder {
		color: #555;
	}
	&:focus {
		border: solid 1px $blue;
	}
}

input[required], textarea[required]  {
	// border-left: none;
}

.check-out-form {
	background: $blue;
	border-radius: 3px;
	padding: 2em;
	margin: 5em auto;
	width: 50em;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2)
}