.nav {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background: white;
	border-bottom: 1px solid #eeecec;
	box-shadow: 0 0 2px #000;
  width: 100vw;
  height: 4em;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	&--home {
		background: transparent;
		border: none;
		box-shadow: none;
	}
	&--active {
		position: fixed;
		left: -350px;
		@media all and (max-width: 425px) {
			left: -320px;
		}
		@media all and (max-width: 385px) {
			left: 0;
		}
	}
	&__menu {
		transition: transform 5s;
		z-index: 9999;
		display: none;
		position: absolute;
		height: 100vh;
		position: absolute;
		right: 0;
		top: 0;
		width: 350px;
		background: white;
		@media all and (max-width: 425px) {
			width: 320px;
		}
		&--active {
			display: block;
			animation: slideInRight .2s;
			position: fixed;
			right: 0;
			top: 0;
			border-left: 1px solid #eeecec;
			@media all and (max-width: 385px) {
				top: 5rem;
				width: 100vw;
			}
		}
	}
	&__menu-link {
		color: #555555;
		display: inline-block;
		padding: 0 20px;
		display: block;
		border-bottom: 1px solid #eeecec;
		padding: 20px;
		text-transform: uppercase;
	}
}

.logo-wrap {
	height: 100%;
}
.logo {
  display: block;
	height: 100%;
	opacity: .9;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
	}
}

.nav-button {
	width: 45px;
	margin-right: 10px;
	cursor: pointer;
	opacity: .9;
	transition: opacity .2s;
	position: relative;
	&__label {
		display: none;
		color: white;
		font-size: 1rem;
	}
	&__bar {
		display: block;
		height: 6px;
		border-radius: 2px;
		background: $blue;
		margin-bottom: 6px;
    transition: transform .2s;
	}
	&--active {
		margin-right: 0;
	}
	&--active &__bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	}
	&--active &__bar:nth-of-type(2) {
    transform: rotate(-45deg);
	}
	&--active &__bar:nth-of-type(3) {
    transform: rotate(45deg);
	}
	&--active &__bar:nth-of-type(4) {
    display: none;
	}
	&:hover {
		opacity: 1;
	}
}

.masthead {
	position: relative;
	background:
		linear-gradient(rgba(21, 39, 52, .55), rgba(21, 39, 52, .55)),
		url(../images/laptop.jpg);
	background-size: cover;
	background-attachment: fixed;

	border-bottom: solid 1vh $blue;

  height: 95vh;
	padding: 0em 8em 0 8em;
	overflow: hidden;

	order: 2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  @media all and (max-width: 768px) {
    padding: 0 10px;
  }
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__title {
		border: solid 10px $blue;
		padding: 2vw;
		border-radius: 10px;
		margin: 0;
		color: white;
		// flex: 0;
		margin-bottom: 20px;
		animation: slideInLeft .5s;
	}
	&__text {
		border: solid 5px $pink;
		padding: 2vw;
		border-radius: 10px;
		font-size: 2em;
		margin: 0;
		color: white;
		flex: 1 1 100%;
		animation: slideInUp .5s;
	}
	&__cta{
		position: absolute;
		bottom: 2rem;
		font-size: 2em;
		color: white;
		width: 100%;
		text-align: center;
		animation: bounceInUp 1s;
		&:after {
			content: "";
			border-top: 20px solid $pink;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			display: block;
			width: 0;
			height: 0;
			margin: 0 auto;
		}
	}
	&--web-design {
		background: linear-gradient(rgba(21, 39, 52, .55), rgba(21, 39, 52, .55)),
		url(../images/web-design-2-small.jpg);
		background-size: cover;
	}
	&--404 {
		height: 100vh;
		background: linear-gradient(rgba(21, 39, 52, .75), rgba(21, 39, 52, .75)),
		url(../images/404.jpg) top left / cover;
	}
}