.top {
	background:
		linear-gradient(120deg, rgba(red($blue), green($blue), blue($blue), .70), 75%, rgba(red($pink), green($pink), blue($pink), .95)),
		url(../images/laptop.jpg);
  width: 100vw;
	padding: 10px;
	&--float {
		position: absolute;
		z-index: 9999;
		top: 0;
  	background: transparent;
	}
	&__inner {
		max-width: $innerWidth;
		margin: 0 auto;
	}
}

.nav {
	max-height: 4.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	&__menu {
		@media all and (max-width: 1024px) {
			transition: transform .3s;
			z-index: 9999;
			position: fixed;
			height: 100vh;
			right: 0;
			top: 0;
			transform: translate(350px, 0);
			width: 350px;
			background: white;
		}
		@media all and (max-width: 465px) {
			width: 320px;
			transform: translate(350px, 0);
		}
		@media all and (max-width: 435px) {
			top: 5rem;
			width: 100vw;
			transform: translate(100vw, 0);
		}
		&--active {
			transform: translate(0, 0);
			box-shadow: -2px 0 7px rgba(0, 0, 0, .2);
		}
	}
	&__menu-link {
		color: #FFFFFF;
		display: inline-block;
		padding: 0 20px;
		transition: color .2s;
		text-decoration: none;
		&--contact {
			border: 2px solid #f4346f;
			padding: 5px 10px;
			margin: 0 20px;
			@media all and (max-width: 1024px) {
				border: none;
				padding: unset;
				margin: 0;
			}
		}
		@media all and (max-width: 1024px) {
			display: block;
			border-bottom: 1px solid $lightGray;
			color: #484848;
			padding: 20px;
			font-size: 2rem;
			text-transform: uppercase;
		}
		&:hover {
			color: $pink;
		}
	}
}

.logo-wrap {
}
.logo {
	height: 3.5rem;
  display: block;
	opacity: .9;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
	}
}

.nav-button {
	display: none;
	width: 45px;
	margin-right: 10px;
	cursor: pointer;
	opacity: .9;
	transition: opacity .2s;
	position: relative;
	transition: transform .3s;
	@media all and (max-width: 1024px) {
		display: block;
	}
	&__label {
		display: none;
		color: white;
		font-size: 1rem;
	}
	&__bar {
		display: block;
		height: 6px;
		border-radius: 2px;
		background: $blue;
		margin-bottom: 6px;
    transition: transform .6s;
	}
	&--active {
		margin-right: 0;
		transform: translate(-350px, 0);
		@media all and (max-width: 465px) {
			transform: translate(-320px, 0);
		}
		@media all and (max-width: 435px) {
			transform: translate(0, 0);
		}
	}
	&--active &__bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	}
	&--active &__bar:nth-of-type(2) {
    transform: rotate(-45deg);
	}
	&--active &__bar:nth-of-type(3) {
    transform: rotate(45deg);
	}
	&--active &__bar:nth-of-type(4) {
    display: none;
	}
	&:hover {
		opacity: 1;
	}
}