.hero {
	position: relative;

	background:
		linear-gradient(120deg, rgba(0, 0, 0, .75), rgba(red($blue), green($blue), blue($blue), .75), 75%, rgba(red($pink), green($pink), blue($pink), .75)),
		url(../images/laptop.jpg);
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8.5rem 0rem;
  overflow: hidden;

  @media all and (max-width: 1024px) {
    padding: 8rem 20px 4rem 20px;
	}

	&--home {
		background:
			linear-gradient(120deg, rgba(0, 0, 0, .75), rgba(red($blue), green($blue), blue($blue), .65), 75%, rgba(red($pink), green($pink), blue($pink), .55)),
			url(../images/adult-chill-computer-1280.jpg);
		background-size: cover;
		background-attachment: fixed;
		height: 85vh;
	}

	&--support-plans {
		background:
		linear-gradient(120deg, rgba(0, 0, 0, .65), rgba(red($blue), green($blue), blue($blue), .65), 75%, rgba(red($pink), green($pink), blue($pink), .65)),
		url(../images/support-plans-1280.jpg);
		background-size: cover;
	}

	&__inner {
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;
		max-width: $innerWidth;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		// border: solid 10px $blue;
		// padding: 1rem;
		// border-radius: 10px;
		margin: 0;
		color: white;
		font-size: 4rem;
		display: block;
		margin-bottom: 20px;
		animation: slideInLeft .5s;
	}
	&__text {
		// border: solid 5px $pink;
		// padding: 1rem;
		// border-radius: 10px;
		font-size: 2rem;
		color: white;
		margin: 0;
		display: block;
		animation: slideInUp .5s;
		& h1 {
			font-size: 2rem;
			color: white;
			display: inline;
			font-weight: 400;
			text-transform: unset;
		}
	}
	&__cta{
		padding: 2rem 0 0 0;
		font-size: 1.25em;
		color: white;
		width: 100%;
		text-align: center;
		animation: bounceInUp 1s;
		&--home {
			cursor: pointer;
			&:after {
				content: "";
				border-top: 20px solid $green;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				display: block;
				width: 0;
				height: 0;
				margin: 5px auto 0 auto;
			}
		}
	}
	&--404 {
		height: 100vh;
		background: linear-gradient(rgba(21, 39, 52, .75), rgba(21, 39, 52, .75)),
		url(../images/404.jpg) top left / cover;
	}
}