.be-super {
  background: whitesmoke;
  &__inner {
    max-width: 60em;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    &--small {
      font-size: 2em;
    }
  }
  &__content {
    padding: 1vw;
  }
}