html {
	box-sizing: border-box;
	font-size: 16px;
	@media all and (max-width: 1200px) {
		font-size: calc(12px + .4vw);
	}
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, .wrapper {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	background: white;
	font-size: 1.2rem;
}

.site-wrap {
	padding-top: 4rem;
	&--no-padding{
		padding-top: 0;
	}
	// &--active {
	// 	left: -350px;
	// 	position: absolute;
	// 	width: 100vw;
	// 	@media all and (max-width: 425px) {
	// 		left: -310px;
	// 	}
	// 	@media all and (max-width: 385px) {
	// 		left: 0;
	// 	}
	// }
}
