.packages {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.package-card {
	position: relative;
  flex: 0 1 33%;
  background: #f9f9f9;
  padding: 4vw 2vw;
  text-align: center;
  @media all and (max-width: 960px) {
    flex: 1 1 100%;
  }
  @media all and (max-width: 425px) {
    padding: 10vw 5vw;
	}
	&:nth-child(even) {
		background: #F5F5F5;
	}
	&__callout {
		font-weight: bold;
		font-size: 1.3rem;
	}
	&__callout-text {
		display: block;
		color: $green;
	}
  &__title {
		margin: 15px 0 10px 0;
		font-size: 1.75em;
		display: block;
		color: $pink;
		&--red {
			color: red;
		}
  }
  &__icon {
    fill: $pink;
    height: 142px;
    @media all and (max-width: 960px) {
      height: 100px;
    }
	}
	&__price {
		font-size: 2.5em;
		display: block;
	}
	&__original-price {
		font-size: 1em;
		display: block;
		& span {
			text-decoration: line-through;
		}
	}
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
  }
  &--gray {
	}
	&--help {
		border: 2px solid red;
		background: white;
	}
}