.section {
	width: 100%;
	max-width: 100%;
	padding: $sectionPadding;
	background: white;
	&--blue {
		background: $blue;
	}
	&--gray{
		background: $lightGray;
	}
	&__inner {
		max-width: $innerWidth;
		margin: 0 auto;
	}
  &__title {
    font-size: 3.5rem;
    text-align: center;
    color: #555;
    border-radius: 10px;
    padding: 2.5vh 5vh 2.5vh 7vh;
		margin: 0 0 20px 0;
		&--blue {
      color: $blue;
    }
    &--pink {
      color: $pink;
    }
    &--text-white{
      color: white;
		}
  }
  &--latest-posts {
    display: none;
    background: linear-gradient(rgba(21, 39, 52, .95), rgba(21, 39, 52, .95)),
    url(../images/beard-guy.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
}