.section {
	padding: $sectionPadding;
	&__title-wrap {
    grid-column: auto / span 12;
  }
  &__title {
    font-size: 3.5rem;
    color: #555;
    border-radius: 10px;
    padding: 2.5vh 5vh 2.5vh 7vh;
		width: 45%;
		margin: 0 0 20px 0;
    @media all and (max-width: 1104px) {
      width: 65%;
    }
    @media all and (max-width: 780px) {
      width: 85%;
		}
    @media all and (max-width: 640px){
      width: 100%;
      padding: 2.5vh;
    }
		&--blue {
      border: solid 1vw $blue;
    }
    &--pink {
      border: solid 1vw $pink;
    }
    &--text-white{
      color: white;
		}
  }
  &--latest-posts {
    background: linear-gradient(rgba(21, 39, 52, .95), rgba(21, 39, 52, .95)),
    url(../images/beard-guy.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
}

.services-section {
  &--web-design {
    background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
    url(../images/web-design-2.jpg) 50% 50% / cover;
  }
}