
.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &:after {
    content: "";
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
  }
}

.service-card {
  flex: 1 1 33%;
  background: white;
  padding: 4vw;
  text-align: center;
  @media all and (max-width: 960px) {
    flex: 1 1 100%;
  }
  @media all and (max-width: 425px) {
    padding: 10vw 5vw;
	}
	&:nth-child(even) {
		background: #F5F5F5;
	}
  &__title {
		margin: 15px 0 10px 0;
		font-size: 2em;
		display: block;
  }
  &__icon {
    fill: $pink;
    height: 142px;
    @media all and (max-width: 960px) {
      height: 100px;
    }
	}
	&__price {
		font-size: 3em;
		display: block;
	}
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
  }
  &--gray {
	}
	&--help {
		border: 4px solid red;
		color: red;
	}
}