.overview {
	padding: $sectionPadding;
	display: flex;
	&--help {
		padding: 0;
	}
	&--gray {
		background: $lightGray;
	}
	&__inner{
		display: flex;
	}
	&__image {
		flex: 1 1 500px;
		& img {
			border-radius: 2px;
		}
	}
	&__content {
		flex: 1 1 40%;
		padding: 0 20px;
		text-align: left;
	}
	&__title {
		border-radius: 2px;
		margin: 0;
		&--help {
			color: white;
		}
	}
	@media all and (max-width: 800px) {
		&__inner{
			flex-wrap: wrap;
		}
		&__image {
			// display: none;
			order: 1;
		}
		&__title {
			margin-top: 10px;
		}
		&__content {
			flex: 1 1 100%;
			padding: 0;
			order: 2;
		}
	}
}