@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
h1, h2, h3, h4, h5, h6 {
	color: #484848;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

a {
	color: inherit;
	text-decoration: underline;
}

// a:hover {
// 	color: inherit;
// }

.link {
	color: #555;
	text-decoration: underline;
	&--text-white {
		color: white;
	}
}