@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

h1, h2, h3, h4, h5, h6 {
	color: #555;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

a {
	// color: #fff;
	text-decoration: none;
}

a:hover {
//  color: whitesmoke;
}

.link {
	color: #555;
	text-decoration: underline;
	&--text-white {
		color: white;
	}
}