// $blue: #5BAAE3;
$blue: #009fe6;
$darkBlue: #152734;
$green: #00C353;
$pink: #f4346f;
$red: #e60030;
$yellow: #F4EB34;
$orange: #FF9019;
$lightGray: #F8F8F8;
$innerWidth: 70em;
$sectionPadding: 8vh 2vw;