.work {
  position: relative;
  grid-column: auto / span 4;
  @media all and (max-width: 1024px){
    grid-column: auto / span 6;
  }
  @media all and (max-width: 640px){
    grid-column: auto / span 12;
  }
  &__title {
    text-align: center;
    // margin: 0 0 10px 0;
  }
  &__role {
    padding: 10px 0;
  }
  &__inner {
    padding: 15% 20px 20px 20px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: solid 3px $blue;
    background: white;
    transition: opacity .3s;
  }
  &:hover &__inner {
    opacity: 1;
  }
}