.work {
  position: relative;
  grid-column: auto / span 4;
  @media all and (max-width: 1024px){
    grid-column: auto / span 6;
  }
  @media all and (max-width: 640px){
    grid-column: auto / span 12;
  }
  &__title {
    text-align: center;
		margin: 0;
		font-size: 1.2rem;
  }
  &__role {
    padding: 10px 0;
  }
  &__inner {
    text-align: center;
  }
}